.container{
   border-radius: 40px;
   padding: 20px;
   background-color: #f6f2f7;
   min-height: 500px;
   max-width: 300px;
   display: flex;
   flex-direction: column;
    justify-content: space-between;

}
.song-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}