body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 667px;
  background-color: #343332;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
